body{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    color: black;
}

strong{
    font-weight: 500;
}

h1{
    margin-top: 10px;
    font-size: 38px;
    line-height: 50px;
    font-weight: 100;
}

h3{
    font-size: 22px;
    font-weight: 100;
}

.mi-informacion{
    margin-top: 12px;
}

.informacion-arriba{
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(200,0,0,0.80);
    border-radius: 10px 10px 0 0;
    color: white;
}

.izquierda{
    float: left;
    width: 75%;
    padding-top: 25px;
    text-align: left;
}

.izquierda p{
    opacity: 0.8;
}

.derecha{
    float: right;
    margin: 2%;
    margin-top: 4%;
    padding: 0;
}

.informacion-abajo{
    padding: 25px 25px 15px 25px;
    background: rgba(0,0,0,0.4);
    border-radius: 0 0 10px 10px;
}

.informacion-abajo form input:valid{
    border: 3px solid green;
}
.informacion-abajo form input:invalid{
    border: 2px solid red;
}

.ir-arriba{
    display: none;
    padding: 20px;
    background:red;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
}

.ir-arriba:hover{
    background: black;
    color: white;
}


.perfil{
    padding: 3%;
    border: 2px double #d61117;
    border-radius: 10px 10px 10px 10px;
}

@media (min-width: 995px) and (max-width:1800px) { 
    .mi-informacion{
        margin-left: 280px;
    }
    
    .recuperar a{
        margin-left:0px;
    }
}
